<window id="4">
<defaultcontrol>50</defaultcontrol>
<allowoverlay>no</allowoverlay>
  
<controls>
	<include>background</include>
	
	<control type="image">
		<width>412</width>
		<height>720</height>
		<texture>settings/category_bg.png</texture>
		<aspectratio>stretch</aspectratio> 
	</control>


	<control type="group" id="50">
		<posx>0</posx>
		<posy>0</posy>
		
		<control type="list" id="2">
			<description>Settings Wraplist</description>
			<posx>30</posx>
			<posy>118</posy>
			<width>244</width>
			<height>556</height>
			<aligny>center</aligny>
			<orientation>vertical</orientation>
			<visible>-</visible>

			<onup>100</onup>                       <!-- To move between controls insert control id -->				


			<scrolltime>200</scrolltime>
			
			<!-- Unselected Items -->
			<itemlayout height="47" width="233">
				<control type="image">
					<posx>0</posx>
					<posy>0</posy>
					<height>47</height>
					<width>233</width>
					<texture>settings/category_divider.png</texture>
				</control>
				<control type="label">
					<posx>12</posx>
					<posy>6</posy>
					<width>233</width>
					<info>ListItem.Label</info> 
					<font>Large</font>
					<textcolor>7f000000</textcolor>
					<scroll>false</scroll>          
					<align>left</align>
				</control>
				<control type="label">
					<posx>12</posx>
					<posy>5</posy>
					<width>233</width>
					<info>ListItem.Label</info> 
					<font>Large</font>
					<textcolor>ffe8e8db</textcolor>
					<scroll>false</scroll>          
					<align>left</align>
				</control>
			</itemlayout>

			<!-- Selected Item -->
			<focusedlayout height="47" width="233">
				<control type="image">
					<visible>!control.hasfocus(2)</visible>
					<posx>0</posx>
					<posy>0</posy>
					<height>47</height>
					<width>233</width>
					<texture>settings/category_highlight_unfocused.png</texture>
				</control>
				<control type="image">
					<visible>control.hasfocus(2)</visible>
					<posx>0</posx>
					<posy>0</posy>
					<height>47</height>
					<width>233</width>
					<texture>settings/category_highlight.png</texture>
				</control>
				<control type="label">
					<posx>12</posx>
					<posy>3</posy>
					<width>233</width>
					<info>ListItem.Label</info> 
					<font>Large</font>
					<textcolor>7f000000</textcolor>
					<scroll>false</scroll>          
					<align>left</align>
					<textoffsetx>12</textoffsetx>
				</control>
				<control type="label">
					<posx>12</posx>
					<posy>5</posy>
					<width>233</width>
					<info>ListItem.Label</info> 
					<font>Large</font>
					<textcolor>ffe8e8db</textcolor>
					<scroll>false</scroll>          
					<align>left</align>
				</control>
			</focusedlayout>

			<!-- Menu Items -->
			<content>
				<item id="12">
					<description>Lithium</description>
					<label>Lithium</label>
					<onclick>activatewindow(56)</onclick>
				</item>
				<item id="1">
					<description>Videos</description>
					<label>$LOCALIZE[3]</label>
					<onclick>activatewindow(MyVideosSettings)</onclick>
				</item>
				<item id="2">
					<description>Music</description>
					<label>$LOCALIZE[2]</label>
					<onclick>activatewindow(MyMusicSettings)</onclick>
				</item> 
				<item id="3">
					<description>Pictures</description>
					<label>$LOCALIZE[1]</label>
					<onclick>activatewindow(MyPicturesSettings)</onclick>
				</item>
				<item id="4">
					<description>Programs</description>
					<label>$LOCALIZE[0]</label>
					<onclick>activatewindow(MyProgramsSettings)</onclick>
				</item>
				<item id="5">
					<description>Weather</description>
					<label>$LOCALIZE[8]</label>
					<onclick>activatewindow(MyWeatherSettings)</onclick>
				</item>
				<item id="8">
					<description>Network</description>
					<label>$LOCALIZE[705]</label>
					<onclick>activatewindow(NetworkSettings)</onclick>
				</item>
				<item id="6">
					<description>System</description>
					<label>$LOCALIZE[13000]</label>
					<onclick>activatewindow(SystemSettings)</onclick>
				</item>
				<item id="7">
					<description>Appearance</description>
					<label>$LOCALIZE[480]</label>
					<onclick>activatewindow(AppearanceSettings)</onclick>
				</item>
				<item id="9">
					<description>Profiles</description>
					<label>$LOCALIZE[13200]</label>
					<onclick>xbmc.activatewindow(34)</onclick>
				</item>
			</content>
		</control>
				
	</control>

	<control type="image">
		<width>1280</width>
		<height>720</height>
		<texture>Zen/elements/common/corners.png</texture>
		<aspectratio>stretch</aspectratio>
	</control>
</controls>
  
</window>